--extra-index-url https://download.pytorch.org/whl/cu126
numpy==1.26.4
scipy
opencv-python==4.9.0.80
scikit-image==0.22.0
matplotlib
mediapipe>=0.10.9
tqdm
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
pytorch3d==0.7.8 
timm
chumpy
pyyaml
plyfile
pytest
wandb
pytorch-lightning  
git+https://github.com/ibug-group/face_detection.git
git+https://github.com/ibug-group/face_alignment.git